<h1>Novo Usuário</h1>

<fieldset disabled>
  <%= render 'users/form', user: @user %>
</fieldset>

<%= link_to 'Voltar', users_path, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
