<p id="notice"><%= notice %></p>

<fieldset disabled>
  <%= render 'meals/form', meal: @meal %>
</fieldset>

<%= link_to 'Edit', edit_meal_path(@meal), class: 'btn btn-primary' %>
<%= link_to 'Back', meals_path, class: 'btn btn-primary' %>
