<p id="notice"><%= notice %></p>
<fieldset disabled>
  <%= render 'form', food: @food %>
</fieldset>
<%= link_to 'Edit', edit_food_path(@food), class: 'btn btn-primary' %>
<%= link_to 'Back', foods_path, class: 'btn btn-primary' %>
